@import 'mixin/mixins', 'mixin/normalize', 'mixin/variables';
@import '../css/bootstrap-grid.min', '../css/font-awesome.min';

body
	box-sizing: border-box
	font-size: 100%

@font-face
	font-family: Gilroy-Bold
	src: url('../fonts/Gilroy-font/Gilroy-ExtraBold.ttf')

@font-face
	font-family: Gilroy-SemiBold
	src: url('../fonts/Gilroy-font/Gilroy-SemiBold.ttf')

@font-face
	font-family: Akrobat-Light
	src: url('../fonts/akrobat/Akrobat-Light.otf')

header
	background: $grey

.nop
	padding-left: 0
	padding-right: 0

.row > div
	@extend .nop
	box-sizing: border-box


// Menu
.header-inner
	// line-height: 60px
	padding: 25px 0

.top-menu

	&:after
		content: ''
		display: table
		width: 100%
	ul
		max-width: 600px
		float: right
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		// align-items: justify
		// &:after
		// 	content: ''
		// 	display: table
		// 	width: 100%
		li
			list-style: none
			display: inline-block
			margin-right: 60px
			&:last-child
				margin-right: 0
			a
				color: $txt-grey
				text-decoration: none
				text-transform: uppercase
				font-family: $ff1
				font-size: .9em
				&:hover, &.active
					color: $green

// Cart
.header-cart-box
	display: flex
	flex-flow: row wrap
	justify-content: flex-end
	align-items: right
	.cart
		position: relative
		padding-left: 15px
		&:after
			content: url("../img/cart-ico.png")
		.product-count
			@include absPosition(0,0,0,0)
	.product-count
		color: $green
		font-weight: bold
		font-size: 15px
		text-decoration: none

// Lang-Switcher
.lang-switcher
	margin-left: 40px
	color: $txt-grey
	text-transform: uppercase
	font-family: $ff1
	font-size: .9em
	span
		cursor: pointer
		&:hover
			text-decoration: underline
		&.active
			display: none

// Shopping Cart
.shopping-cart
	background-color: $cart-bg
	img
		max-width: 100%
		height: auto

.img-product-right img
	display: block
	margin: 0 auto

.product-top
	position: relative
	img
		float: right

#category-box
	background-position: center;
	background-size: cover

.category-box
	padding: 4.5vw 2vw
	box-sizing: border-box;
	display: flex
	flex-flow: column nowrap
	justify-content: space-between
	z-index: 1
	@media screen and (max-width:900px)
		padding: 2vw 2vw
	.category-box__inner1
		align-self: center
	.category-box__inner2
		max-width: 350px
		align-self: flex-end
		@media screen and (max-width:1550px)
			align-self: center
	.logo img
		display: block
		margin: 0 auto
	.category-name
		color: $green
		text-align: center
		margin-top: 20px
		text-transform: uppercase
		letter-spacing: 1px
		font-size: 15px
		font-family: $akrobat
	.category-item
		// font-size: 48px
		@include fontsize(48)
		font-family: $ff1
	.category-desc
		line-height: 24px
		font-family: $akrobat
		font-size: 18px

@media screen and (max-width: 767px)
	.category-box
		.logo
			float: left
			max-width: 80px
		.category-name
			text-align: left
		.category-desc
			padding: 10px

#product-desc
	overflow: hidden

.product-prop
	display: flex
	flex-direction: row
	justify-content: center
	background: #fff
	line-height: 25px
	font-family: $akrobat
	font-size: 17px
	padding: 2vw 0

#img-product-center1
	background-size: cover
	background-position: center;
	img
		@media (min-width:768px) and (max-width:1150px)
			display: none
	// @media (max-width:768px) and (min-width:1150px)
	// 	background-image: none
		
// .test
// 	display: flex
// 	flex-direction: row
// 	justify-content: center
// 	@media screen and (max-width:767px)
// 		flex-flow: column nowrap
// 	&>div
// 		padding-left: 0 !important
// 		padding-right: 0 !important

@media screen and (min-width: 1199px)
	.product-container
		width: 1170px
		margin: 0 auto

.delivery-info
	background: #fff
	// padding: 1vw  1.5vw
	box-sizing: border-box
	height: 100%
	ul
		margin-bottom: 10px
		li
			position: relative
			// margin-left: 15px
			text-indent: 15px
			line-height: 22px
			font-family: $akrobat
			h3
				font-family: $ff1
			&:before
				content: ''
				width: 10px
				height: 10px
				background: #81b260
				display: inline-block
				margin-right: 10px
				border-radius: 50%
