@import 'mixin/mixins', 'mixin/normalize', 'mixin/variables';
@import '../css/bootstrap-grid.min', '../css/font-awesome.min';

body
	box-sizing: border-box
	font-size: 100%

@font-face
	font-family: Gilroy-Bold
	src: url('../fonts/Gilroy-font/Gilroy-ExtraBold.ttf')

@font-face
	font-family: Gilroy-SemiBold
	src: url('../fonts/Gilroy-font/Gilroy-SemiBold.ttf')

@font-face
	font-family: Akrobat-Light
	src: url('../fonts/akrobat/Akrobat-Light.otf')

@font-face
	font-family: Akrobat-Bold
	src: url('../fonts/akrobat/Akrobat-Bold.otf')

header
	background: $grey

.nop
	padding-left: 0
	padding-right: 0

.img-responsive
	max-width: 100%
	height: auto

.row > div
	@extend .nop
	box-sizing: border-box

.container-fluid, .container, .row
	box-sizing: border-box

.clearfix
	clear: both
	&:after
		content: ''
		display: table
.btn-style
	background: $green
	border-radius: 40px
	box-sizing: border-box
	border: 2px solid transparent
	color: #fff
	display: table
	min-width: 230px
	margin: 0 auto
	padding: 15px 10px
	transition: all .3s ease
	text-align: center
	
	
	text-decoration: none
	font-family: $akrobat-bold
	font-size: 25px
	&:hover
		color: $green
		background: #fff
		border-color: $green
		text-decoration: none

// Menu
.header-inner
	// line-height: 60px
	padding: 25px 0

.top-menu
	@extend .clearfix
	ul
		max-width: 600px
		float: right
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		li
			list-style: none
			display: inline-block
			margin-right: 60px
			&:last-child
				margin-right: 0
			a
				color: $txt-grey
				outline: none
				text-decoration: none
				text-transform: uppercase
				font-family: $ff1
				font-size: .9em
				position: relative
				&:before
					@include absPosition(auto,0,0,0)
					content: ''
					margin: 0 auto
					width: 0%
					height: 1px
					background: $green
					transition: all .2s ease-in-out
				&:hover, &.active
					color: $green
				&:hover:before
					width: 100%

// Cart
.header-cart-box
	display: flex
	flex-flow: row wrap
	justify-content: flex-end
	align-items: right
	.cart
		position: relative
		padding-left: 15px
		&:after
			content: url("../img/cart-ico.png")
		.product-count
			@include absPosition(0,0,0,0)
	.product-count
		color: $green
		font-weight: bold
		font-size: 15px
		text-decoration: none

// Lang-Switcher
.lang-switcher
	margin-left: 40px
	color: $txt-grey
	text-transform: uppercase
	font-family: $ff1
	font-size: .9em
	span
		cursor: pointer
		&:hover
			text-decoration: underline
		&.active
			display: none

// Shopping Cart
// .shopping-cart
// 	background-color: $cart-bg
// 	img
// 		max-width: 100%
// 		height: auto

// .img-product-right img
// 	display: block
// 	margin: 0 auto

// .product-top
// 	position: relative
// 	img
// 		float: right

// #category-box
// 	background-position: center;
// 	background-size: cover

// .category-box
// 	padding: 4.5vw 2vw
// 	box-sizing: border-box;
// 	display: flex
// 	flex-flow: column nowrap
// 	justify-content: space-between
// 	z-index: 1
// 	@media screen and (max-width:900px)
// 		padding: 2vw 2vw
// 	.category-box__inner1
// 		align-self: center
// 	.category-box__inner2
// 		max-width: 350px
// 		align-self: flex-end
// 		@media screen and (max-width:1550px)
// 			align-self: center
// 	.logo img
// 		display: block
// 		margin: 0 auto
// 	.category-name
// 		color: $green
// 		text-align: center
// 		margin-top: 20px
// 		text-transform: uppercase
// 		letter-spacing: 1px
// 		font-size: 15px
// 		font-family: $akrobat
// 	.category-item
// 		// font-size: 48px
// 		@include fontsize(48)
// 		font-family: $ff1
// 	.category-desc
// 		line-height: 24px
// 		font-family: $akrobat
// 		font-size: 18px

// @media screen and (max-width: 767px)
// 	.category-box
// 		.logo
// 			float: left
// 			max-width: 80px
// 		.category-name
// 			text-align: left
// 		.category-desc
// 			padding: 10px

// #product-desc
// 	overflow: hidden

// #img-product-center1
// 	background-size: cover
// 	background-position: center;
// 	img
// 		@media (min-width:768px) and (max-width:1150px)
// 			display: none

// @media screen and (min-width: 1199px)
// 	.product-container
// 		width: 1170px
// 		margin: 0 auto

.delivery-info
	background: #fff
	padding: 30px 0
	box-sizing: border-box
	height: 100%
	&__inner
		max-width: 400px
		margin-left: 5vw
		// margin: 20px auto 20px 5vw
	h1,h2,h3,h4,h5
		font-family: $akrobat-bold
		font-size: 26px
	ul
		margin-bottom: 10px
		li
			position: relative
			text-indent: 15px
			font-size: 20px
			line-height: 26px
			font-family: $akrobat
			&:before
				content: ''
				width: 10px
				height: 10px
				background: #81b260
				display: inline-block
				margin-right: 10px
				border-radius: 50%

.product-container
	// background-color: pink
	background-color: #f4f4f4
	display: flex
	flex-flow: row wrap
	justify-content: space-between
	align-items: flex-end
	box-sizing: border-box

	background-size: cover
	// align-items: center
	&>div
		box-sizing: border-box
	&.product-top
		align-items: center
		background-color: #f4f4f4
		// background-color: #fff
	&.product-center
		background: #fff
	// 	background: green !important
	// 	align-content: space-between
	// &.product-big
	// 	align-content: stretch
	// 	align-items: stretch
		// #product-desc
			// align-self: flex-start
		// 	height: 58%
		// .product-prop-img
		// 	align-self: stretch
	&.product-center
		// background: purple
	&.author-box
		// background-color: #fff
	img
		margin: 0 auto
		display: block
	.product-small, .product-big
		// @extend .clearfix
		// width: 100%
		box-sizing: border-box
		display: inline-block
		// float: left
	.product-small
		width: 36%
		// background-color: #c9ffc9
		.category-box
			max-width: 300px
			margin-left: auto
			padding: 25px
			.category-box__inner1
				margin-bottom: 7vw
			.category-name
				color: $green
				text-align: center
				margin-top: 20px
				text-transform: uppercase
				letter-spacing: 1px
				font-size: 17px
				font-family: $akrobat-bold
			.category-item
				@include fontsize(56)
				font-family: $ff1
				margin-bottom: 20px
			.category-desc
				line-height: 24px
				font-family: $akrobat
				font-size: 18px
	.product-big
		width: 64%
	@media screen and (max-width: 767px)
		.product-small, .product-big
			width: 100%

		// max-width: 1230px - 25px

.product-prop
	display: flex
	flex-direction: row
	justify-content: center
	background: #fff
	line-height: 26px
	font-family: $akrobat
	font-size: 19px
	padding: 4vw
	ul
		width: 100%
		max-width: 650px
		li
			line-height: 25px
			&:after
				content: ''
				display: block
				width: 100%
				border-bottom: 1px dotted #000
			span.dp, span.dr
				position: relative
				&:after
					content: ''
					display: block
					width: 100%
					position: absolute
					bottom: -2px
					left: 0
					height: 2px
					background: #fff
					// border: 1px solid purple
			span.dr
				float: right
				margin-left: 50px
				&:after
					bottom: -1px

					// border-bottom: 2px solid red

.product-parallax
	display: flex
	flex-flow: row wrap
	justify-content: flex-end
	align-items: center
	height: 500px
	background-position: center
	background-attachment: fixed
	background-repeat: no-repeat
	background-size: cover
	.parallax-name
		max-width: 400px
		margin-right: 16vw
		@include fontsize(42)
		font-family: $ff1
	.parallax-product-desc
		margin-top: 10px
		line-height: 24px
		font-family: $akrobat-bold
		font-size: 23px

.author-desc-box
	max-width: 600px
	margin-right: 8vw
	margin-bottom: 5vw
	float: right
	.author-project
		@include fontsize(44)
		font-family: $ff1
		margin-bottom: 2vw
	.author-name
		font-size: 24px
		font-family: $ff2
	.author-desc
		font-family: $akrobat
		text-align: justify
		font-size: 19px
	// align-items: stretch
	// height: 50%
.author-box
	background: #fff
	// align-items: flex-end

	// display: flex
	// flex-flow: column nowrap
.buy-box
	display: table
	margin: 7vw auto
	text-align: center
	.price
		@include fontsize(55)
		font-family: $ff1
	.buy-btn
		@extend .btn-style
		margin: 50px auto

.social-widget
	text-align: center
	background: rgba(0,0,0,.5)
	color: #fff
	padding: 10px


.last-box
	max-width: 1200px
	margin: 0 auto
	.advice-look
		@include fontsize(55)
		font-family: $ff1
		text-align: center
		margin-bottom: 4vw
	.btn-readmore
		@extend .btn-style
		margin: 60px auto
.last-products
	margin: 0 auto
	.last-product-item
		width: 300px
		margin-bottom: 15px
		border: 1px solid #000
		border-radius: 15px
		box-sizing: border-box
		overflow: hidden
		.last-product-img
			width: 300px
			max-width: $masonry-item-width
			height: auto
		.last-product-price
			@include absPosition(auto,35px,35px,auto)
			background: $green
			color: #fff
			border-radius: 50px
			width: 80px
			height: 80px
			line-height: 80px
			text-align: center
			@include fontsize(30)
			font-family: $ff1

// Footer

footer.footer
	padding: 5vw 0
	background: #444

.footer-inner-2
	.footer-menu-main 
		li
			line-height: 34px
			a
				font-family: $ff2
				letter-spacing: 1px
				color: #fff
				text-transform: uppercase
				text-decoration: none
				padding: 1px 3px
				font-size: 18px
				vertical-align: sub
				&:hover
					background: #fff
					color: #444

.footer-inner-3
	.footer-menu-category
		li
			line-height: 34px
			a
				color: #adadad
				text-decoration: none
				transition: all .2s ease-in
				font-size: 20px
				font-family: $akrobat
				&:hover
					color: #fff
					text-decoration: underline

.footer-inner-4
	.follow-us
		text-transform: uppercase
		color: #fff
		font-size: 18px
		font-family: $ff1
		line-height: 34px
	.soc-box
		li
			line-height: 34px
			a
				color: #adadad
				font-family: $ff2
				font-size: 18px
				transition: all .2s ease-in
				text-decoration: none
				vertical-align: sub
				&:hover
					color: $green


