@import 'mixin/mixins', 'mixin/variables';

@media screen and (max-width: 991px)
	.product-parallax
		background-size: contain

// @media (min-width: 768px) and (max-width: 991px)

@media screen and (max-width: 767px)
	.category-box
		margin: 0 auto
	.author-box
		.product-big
			display: flex
			flex-direction: column
		.author-desc-box
			order: 1